@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Montserrat", sans-serif;
}

input,
button,
.ant-btn span,
:where(.css-dev-only-do-not-override-1wwf28x).ant-btn {
  font-family: "Montserrat", sans-serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary-cyan {
    @apply py-1 lg:py-1.5 4k:py-2 px-10 4k:px-12 !bg-[#00D0C6] !text-black font-semibold rounded-lg border-0 cursor-pointer;

    &:hover:not(:disabled) {
      @apply !bg-white;
    }

    &:disabled {
      @apply !bg-[#202025] !text-[#555555] cursor-not-allowed;
    }
  }

  .btn-primary-aqua {
    @apply py-1 lg:py-1.5 4k:py-2 px-10 4k:px-12 rounded-none !bg-aqua1 !text-black1 font-extrabold text-20 4k:text-24 leading-6 border-0 cursor-pointer duration-500 ease-in-out;

    &:hover:not(:disabled) {
      @apply opacity-80;
    }

    &:disabled {
      @apply !bg-[#202025] !text-[#555555] cursor-not-allowed;
    }
  }

  .btn-primary-teal {
    @apply bold16 py-1 lg:py-1.5 4k:py-2 px-10 4k:px-12 rounded-160 !bg-tealDark border-aqua1 !text-white leading-6 tracking-widest !h-auto cursor-pointer duration-500 ease-in-out;

    &:hover:not(:disabled) {
      @apply !bg-tealDark !border-transparent shadow-[0px_0px_8.2px_1.5px_#00FFF3];
    }

    &:disabled {
      @apply !bg-gray10/[20%] border-gray10 !text-gray11 cursor-not-allowed;
    }
  }

  .btn-primary-purple {
    @apply btn-primary-teal !bg-blackpurple border-purple4;

    &:hover:not(:disabled) {
      @apply !bg-blackpurple !border-transparent shadow-[0px_0px_8.2px_1.5px_#522EFF];
    }
  }

  .btn-primary-grey {
    @apply flex w-full py-1 lg:py-1.5 4k:py-2 px-1.5 lg:px-2 4k:px-3 rounded-full border-[1px] border-white text-white items-center bold16 bg-gray8 cursor-pointer duration-700 ease-in-out;

    &:hover:not(:disabled) {
      @apply !bg-transparent !text-white !border-white;
    }

    &:disabled {
      @apply !bg-gray10/[20%] border-gray10 !text-gray11 cursor-not-allowed;
    }
  }

  .btn-primary-grey:not(:disabled).liquid-hover:hover {
    @apply !bg-tealDark !border-transparent shadow-[0px_0px_8.2px_1.5px_#00FFF3];
  }
  .btn-primary-grey:not(:disabled).non-liquid-hover:hover {
    @apply !bg-blackpurple !border-transparent shadow-[0px_0px_8.2px_1.5px_#522EFF];
  }

  .btn-primary-grey:not(:disabled).liquid-loading {
    @apply !bg-blackTeal !border-aqua1;
  }
  .btn-primary-grey:not(:disabled).non-liquid-loading {
    @apply !bg-blackpurple !border-transparent shadow-[0px_0px_8.2px_1.5px_#522EFF];
  }

  .btn-secondary-grey {
    @apply flex w-full py-1 lg:py-1.5 4k:py-2 px-1.5 lg:px-2 4k:px-3 rounded-full border-[0.35px] border-white text-white items-center bold16 bg-gray12 cursor-pointer duration-700 ease-in-out;

    &:hover:not(:disabled) {
      @apply !bg-transparent !text-white !border-white;
    }

    &:disabled {
      @apply !bg-gray10/[20%] border-gray10 !text-gray11 cursor-not-allowed;
    }
  }

  .btn-primary-teal-lg {
    @apply btn-primary-teal py-2 4k:py-2.5 max-lg:text-17 4k:text-20;
  }

  .btn-primary-purple-lg {
    @apply btn-primary-purple py-2 4k:py-2.5 max-lg:text-17 4k:text-20;
  }

  .btn-secondary-teal {
    @apply !gap-0 !whitespace-normal py-1 lg:py-1.5 4k:py-2 px-5 4k:px-8 w-full font-bold text-13 4k:text-17 leading-6 tracking-widest !h-auto uppercase cursor-pointer duration-500 ease-in-out rounded-full text-aqua1 border-[1px] border-transparent bg-tealDark;

    &:hover:not(:disabled) {
      @apply !text-aqua1 !shadow-[0px_0px_10.8px_0px_#00FFF3] !bg-tealDark;
    }

    &:disabled {
      @apply !bg-gradientbg !text-gray1 cursor-not-allowed;
    }
  }

  .btn-secondary-purple {
    @apply btn-secondary-teal !text-white5 !bg-PurpleDarker border-purple4;

    &:hover:not(:disabled) {
      @apply !bg-PurpleDarker !shadow-[0px_0px_12.0px_0px_#87A1FF] !text-purple3;
    }
  }

  .btn-filter {
    @apply flex w-fit py-1 4k:py-1.5 px-1.5 lg:px-2 4k:px-2.5 border border-none 4k:text-20 rounded-[8px] items-center bg-gray4/80 text-white3 cursor-pointer duration-300 ease-in-out;

    &:hover {
      @apply !bg-gray13/80 !text-white;
    }
  }

  .btn-secondary-gray {
    @apply flex w-full py-1.5 lg:py-2 4k:py-2.5 px-1.5 lg:px-2 4k:px-2.5 rounded-full border-[0.35px] border-white text-white items-center bold16 bg-gray4 cursor-pointer duration-700 ease-in-out;

    &:hover:not(:disabled) {
      @apply !bg-transparent !text-white !border-white;
    }
  }

  .btn-secondary-gray3 {
    @apply flex py-1.5 w-full lg:py-5 4k:py-6 px-1.5 lg:px-2 4k:px-2.5 rounded-full border border-white items-center bg-gray12 text-white bold16 cursor-pointer duration-700 ease-in-out;

    &:hover:not(:disabled) {
      @apply !bg-transparent !text-white !border-white;
    }
  }

  .small-base {
    @apply font-medium text-12 lg:text-13 4k:text-15 leading-5 lg:leading-6 text-white;
  }

  .base {
    @apply font-semibold text-12 xs:text-14 lg:text-16 4k:text-20 leading-5 lg:leading-6 text-gray1;
  }

  .gray-base {
    @apply font-normal text-12 xs:text-14 lg:text-16 4k:text-20 leading-5 lg:leading-6 text-gray8;
  }
  .gray-base2 {
    @apply font-normal text-11 xs:text-14 lg:text-16 4k:text-20 leading-5 lg:leading-6 text-gray8;
  }

  .base-medium {
    @apply font-medium text-11 lg:text-13 4k:text-16 text-white3;
  }

  .regular-base {
    @apply font-normal text-12 xs:text-14 lg:text-16 4k:text-20 leading-5 lg:leading-6 text-gray1;
  }

  .info-label {
    @apply font-normal text-10 lg:text-12 4k:text-16 leading-3 lg:leading-4 text-gray1;
  }

  .body2 {
    @apply font-normal lg:font-medium text-16 lg:text-20 4k:text-24 leading-5 lg:leading-8 text-white1;
  }

  .body2-v2 {
    @apply font-light text-16 lg:text-28 4k:text-33 leading-5 lg:leading-10 text-white1 sm:px-17.5;
  }

  .body1 {
    @apply font-bold text-16 lg:text-24 4k:text-28 leading-6 lg:leading-8 text-gray1;
  }

  .body1-s {
    @apply font-extrabold lg:font-bold text-12 lg:text-16 4k:text-20 leading-6 text-gray1;
  }

  .h4 {
    @apply font-bold text-20 xs:text-22 lg:text-26 4k:text-30 leading-8 lg:leading-10 text-white2;
  }

  .opacity-hover {
    @apply hover:opacity-70 duration-300 ease-in-out;
  }

  .text-22-bold {
    @apply font-bold text-18 lg:text-22 4k:text-26 leading-4 lg:leading-6 text-white2;
  }

  .text-26-bold {
    @apply font-bold text-18 lg:text-26 4k:text-30 leading-4 lg:leading-6 text-white2;
  }

  .text-12-regular {
    @apply font-medium text-11 lg:text-12 4k:text-14 lg:leading-4 text-white3;
  }

  .bold52 {
    @apply font-bold text-22 lg:text-52 4k:text-58 lg:leading-16 text-white;
  }

  .bold33 {
    @apply font-bold text-22 lg:text-33 4k:text-38 lg:leading-10 text-white;
  }

  .bold26 {
    @apply font-bold text-14 lg:text-26 4k:text-30 lg:leading-7.75;
  }

  .bold22 {
    @apply font-bold text-18 lg:text-22 4k:text-28 lg:leading-6.5 text-white;
  }

  .bold16 {
    @apply font-bold text-10 lg:text-16 4k:text-20 lg:leading-6.5 text-white;
  }

  .bold15 {
    @apply font-bold text-12 lg:text-15 4k:text-18 lg:leading-6.5 text-white;
  }

  .bold14 {
    @apply font-bold text-10 lg:text-14 4k:text-16 lg:leading-6.5 text-white;
  }

  .bold13 {
    @apply font-bold text-13 4k:text-15 lg:leading-6.5 text-white;
  }

  .bold12-s {
    @apply font-bold text-12 4k:text-14 leading-6.5;
  }

  .bold12 {
    @apply font-bold text-10 lg:text-12 4k:text-14 lg:leading-6.5 text-white;
  }

  .bold10 {
    @apply font-bold text-10 4k:text-12 lg:leading-6.5 text-white;
  }

  .semi24 {
    @apply font-semibold text-12 lg:text-24 4k:text-27 lg:leading-6.5 text-gray13;
  }

  .semi15 {
    @apply font-semibold text-10 lg:text-15 4k:text-17 lg:leading-6.5 text-white;
  }

  .semi14 {
    @apply font-semibold text-10 lg:text-14 4k:text-16 lg:leading-5 text-white;
  }

  .semi13 {
    @apply font-semibold text-15 4k:text-17 lg:leading-5 text-white;
  }

  .semi11 {
    @apply font-semibold text-10 lg:text-11 4k:text-13 lg:leading-4 text-white;
  }

  .medium20 {
    @apply font-medium text-18 lg:text-20 4k:text-24 lg:leading-6.5 text-white;
  }

  .medium17 {
    @apply font-medium text-11 lg:text-17 4k:text-20 lg:leading-5 text-gray8;
  }

  .medium16 {
    @apply font-medium text-10 lg:text-16 4k:text-18 lg:leading-5 text-white;
  }

  .medium15 {
    @apply font-medium text-10 lg:text-15 4k:text-17 lg:leading-4 text-gray6;
  }

  .medium12 {
    @apply font-medium text-10 lg:text-12 4k:text-14 lg:leading-3.5 text-white;
  }

  .light26 {
    @apply font-light text-10 lg:text-26 4k:text-33 lg:leading-7.75 text-white;
  }

  .light12 {
    @apply font-light text-10 lg:text-12 4k:text-15 lg:leading-3.5 text-white;
  }

  .regular15 {
    @apply font-normal text-12 lg:text-15 4k:text-17;
  }

  .regular12 {
    @apply font-normal text-10 lg:text-12 4k:text-15 lg:leading-3.5 text-white;
  }

  .regular9 {
    @apply font-normal text-10 lg:text-9 4k:text-12 lg:leading-3.5 text-white;
  }
}

.animated-gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientAnimation 2s ease infinite;
  border-radius: 10px;
}

@layer utilities {
  .scrollbar-aqua::-webkit-scrollbar {
    width: 2px;
  }

  .scrollbar-aqua::-webkit-scrollbar-thumb {
    @apply bg-aqua1 rounded-lg;
  }
  .scrollbar-purple::-webkit-scrollbar {
    width: 2px;
  }
  .scrollbar-purple::-webkit-scrollbar-thumb {
    @apply bg-purple4 rounded-lg;
  }

  .scrollbar-hidden::-webkit-scrollbar-thumb {
    @apply bg-transparent;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 1024px) {
  .gradient-bottom-border {
    background: linear-gradient(90deg, #00d0c6 0%, #522eff 100%);
    border-radius: 10px;
    position: relative;
  }

  .gradient-bottom-border::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 1px;
    /* background: black; */
    background: linear-gradient(90deg, #212020 0%, #2d2c2c 100%);
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    border-radius: 10px;
    z-index: 0;
  }

  .gradient-bottom-border .content {
    padding: 19.5px 20px 20.5px 20px;
    /* background: linear-gradient(
      129.93deg,
      rgba(175, 175, 175, 0.12) 16.6%,
      rgba(17, 243, 179, 0.12) 90.65%
    ); */
    border-radius: 10px;
    position: relative;
    z-index: 1;
  }

  .gradient-bottom-border-hover:hover {
    background: linear-gradient(90deg, #00d0c6 0%, #522eff 100%);
    border-radius: 10px;
    position: relative;
  }

  .gradient-bottom-border-hover:hover::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 1px;
    background: linear-gradient(90deg, #212020 0%, #2d2c2c 100%);
    border-radius: 10px;
    z-index: 0;
  }

  .gradient-bottom-border-hover:hover .content-hover {
    position: relative;
    z-index: 1;
  }

  .gradient-bottom-border-hover:hover .content-hover:hover {
    /* background: linear-gradient(
      314.92deg,
      rgba(12, 34, 49, 0.4) 2.58%,
      rgba(17, 39, 49, 0.4) 47.47%,
      rgba(12, 22, 31, 0.4) 97.04%
    ); */
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    position: relative;
    z-index: 1;
  }
}

.gradient-bg-1 {
  background: linear-gradient(
    129.93deg,
    rgba(175, 175, 175, 0.12) 16.6%,
    rgba(17, 243, 179, 0.12) 90.65%
  );
}

.gradient-bg-dark {
  background: linear-gradient(
    314.92deg,
    rgba(17, 39, 49, 0.4) 28.08%,
    rgba(9, 9, 9, 0.4) 97.04%
  );
}

.gradient-bg-2 {
  background: linear-gradient(
    314.92deg,
    rgba(12, 34, 49, 0.4) 2.58%,
    rgba(17, 39, 49, 0.4) 47.47%,
    rgba(12, 22, 31, 0.4) 97.04%
  );
}

.border-gradient-1 {
  border-image-slice: 1;
  border-image-source: linear-gradient(
    270deg,
    #00daba 8%,
    #4aa1a3 23%,
    #8a7191 36%,
    #b15485 46%,
    #c14981 51%,
    #a73993 62%,
    #8726aa 78%,
    #741bb7 91%,
    #6d17bd 100%
  );
}

.border-gradient-2 {
  border-image-slice: 1;
  border-image-source: linear-gradient(
    270deg,
    #00daba 8%,
    #4aa1a3 23%,
    #8a7191 36%,
    #b15485 46%,
    #c14981 51%,
    #a73993 62%,
    #8726aa 78%,
    #741bb7 91%,
    #6d17bd 100%
  );
}

.border-gradient-3 {
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    #4b4b4b 52%,
    rgba(255, 255, 255, 0) 100%
  );
}

:where(.css-dev-only-do-not-override-1wwf28x).ant-input-affix-wrapper
  .ant-input-prefix {
  margin-right: 0.5rem;
  color: #f1f4f4 !important;

  @media (min-width: 1024px) {
    margin-right: 1rem;
  }
}

.intercom-lightweight-app-launcher {
  bottom: 15px !important;
  right: 32px !important;
}

@media (max-width: 1024px) {
  .intercom-lightweight-app-launcher {
    bottom: 15px !important;
    right: 16px !important;
  }
}

.grey-gradient {
  border-image: "linear-gradient(90deg, #ff7e5f, #feb47b) 1";
}
.purple-border-bottom {
  border-bottom: 1px solid #5b6fff;
  transition: border-color 0.3s ease-in-out;
  overflow: hidden;
}

.aqua-border-bottom {
  border-bottom: 1px solid #00d0c6;
  transition: border-color 0.3s ease-in-out;
  overflow: hidden;
}

.loading-blur {
  @apply ml-1 4k:ml-1.5 text-gray-200;
  animation: blur 1.5s ease-in-out infinite;
}

@keyframes blur {
  0% {
    filter: blur(5px);
    opacity: 0.5;
  }
  50% {
    filter: blur(8px);
    opacity: 0.8;
  }
  100% {
    filter: blur(4px);
    opacity: 0.6;
  }
}

.custom-tooltip .ant-tooltip-inner {
  color: #b5b5b5;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 132%;

  background-color: rgba(25, 34, 39, 0.7) !important;
  backdrop-filter: blur(15px);

  border: 1px solid #333;
  z-index: 0;
  padding: 10px;
}
.custom-tooltip .ant-tooltip-arrow::before {
  background-color: black !important;
}
.custom-tooltip .ant-tooltip-arrow::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 34, 39, 0.7) !important;
  backdrop-filter: blur(15px);
  border: 1px solid #333;
  top: 8px;
  z-index: 100;
}
