@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary-white {
    @apply !py-5 px-5 !bg-white !text-black font-semibold rounded-lg !border-0 cursor-pointer;

    &:hover {
      @apply !bg-[#00D0C6];
    }

    &:disabled {
      @apply !bg-[#202025] !text-[#555555] cursor-not-allowed;
    }
  }

  .btn-primary-cyan {
    @apply py-2 px-5 !bg-[#00D0C6] !text-black font-semibold rounded-lg border-0 cursor-pointer;

    &:hover {
      @apply !bg-white;
    }

    &:disabled {
      @apply !bg-[#202025] !text-[#555555] cursor-not-allowed;
    }
  }

  .btn-primary-aqua {
    @apply py-6 px-14 rounded-none !bg-aqua1 !text-black1 font-extrabold text-20 leading-6 border-0 cursor-pointer duration-500 ease-in-out;

    &:hover {
      @apply opacity-80;
    }

    &:disabled {
      @apply !bg-[#202025] !text-[#555555] cursor-not-allowed;
    }
  }

  .btn-primary-gradient-aqua {
    @apply py-1 lg:py-4 w-full rounded !bg-primary-gradient !text-black2 font-extrabold text-12 leading-6 tracking-widest !h-auto uppercase border-0 cursor-pointer duration-500 ease-in-out;

    &:hover {
      @apply opacity-80;
    }

    &:disabled {
      @apply !bg-gradientbg !text-gray1 cursor-not-allowed;
    }
  }
  .btn-secondary-lg {
    @apply btn-secondary py-4 max-lg:text-17;
  }

  .btn-primary-gradient-aqua-lg {
    @apply btn-primary-gradient-aqua py-4 max-lg:text-17;
  }

  .btn-secondary {
    @apply !gap-0 !whitespace-normal py-2.5 w-full rounded gradient-bg-dark !text-white1 font-extrabold text-12 leading-6 tracking-widest !h-auto uppercase border-solid border border-white cursor-pointer duration-500 ease-in-out;

    &:hover {
      @apply !opacity-80 !bg-darkbg;
    }

    &:disabled {
      @apply !bg-gradientbg !text-gray1 cursor-not-allowed;
    }
  }

  .btn-secondary-colored {
    @apply !gap-0 !bg-transparent !whitespace-normal py-1.5 px-4 w-full rounded font-extrabold text-12 leading-6 tracking-widest !h-auto uppercase border-solid border-2 cursor-pointer duration-500 ease-in-out;

    &:hover {
      @apply !opacity-80;
    }

    &:disabled {
      @apply !bg-gradientbg !text-gray1 cursor-not-allowed;
    }
  }

  .btn-primary-white1 {
    @apply py-1 lg:py-4 w-full rounded !bg-white !text-black2 font-extrabold text-12 leading-6 tracking-widest !h-auto uppercase border-0 cursor-pointer duration-500 ease-in-out;

    &:hover {
      @apply !opacity-80;
    }

    &:disabled {
      @apply !bg-[#202025] !text-[#555555] cursor-not-allowed;
    }
  }

  .btn-custom-white-text {
    @apply py-2 px-5 !bg-transparent !text-white rounded-lg border-0 cursor-pointer;

    &:hover {
      @apply !bg-white;
    }

    &:disabled {
      @apply !bg-[#202025] !text-[#555555] cursor-not-allowed;
    }
  }

  .btn-secondary-gray {
    @apply flex w-fit py-1.5 lg:py-2 px-1.5 lg:px-2 rounded-[9px] border border-gray4 items-center bg-gray4 cursor-pointer  duration-700 ease-in-out;

    &:hover {
      @apply bg-transparent;
    }
  }

  .caption {
    @apply font-medium text-14 leading-5  text-gray1;
  }

  .small-base {
    @apply font-semibold text-12 lg:text-13 leading-5 lg:leading-6  text-white;
  }

  .base {
    @apply font-semibold text-12 xs:text-14 lg:text-16 leading-5 lg:leading-6  text-gray1;
  }

  .base-medium {
    @apply font-medium text-12 lg:text-13 leading-5 lg:leading-6  text-white3 ;
  }

  .regular-base {
    @apply font-normal text-12 xs:text-14 lg:text-16 leading-5 lg:leading-6  text-gray1;
  }

  .base2 {
    @apply font-medium text-12 xs:text-14 lg:text-18 leading-5 lg:leading-8  text-gray5;
  }

  .titles {
    @apply font-bold text-18 leading-9  text-black1;
  }

  .info-label {
    @apply font-normal text-10 lg:text-12 leading-3 lg:leading-4 text-gray1;
  }

  .body2-bold {
    @apply font-bold text-10 lg:text-20 leading-3 lg:leading-8 text-gray1;
  }

  .body2 {
    @apply font-normal lg:font-medium text-16 lg:text-20 leading-5 lg:leading-8 text-white1;
  }

  .body1 {
    @apply font-bold text-16 lg:text-24 leading-6 lg:leading-8 text-gray1;
  }

  .body1-s {
    @apply font-extrabold lg:font-bold text-12 lg:text-16 leading-6 text-gray1;
  }

  .h4 {
    @apply font-bold text-20 xs:text-22 lg:text-26 leading-8 lg:leading-10 text-white2;
  }

  .h3 {
    @apply font-bold text-27 lg:text-30 xl:text-38 leading-10 lg:leading-12 text-white2;
  }
  .h3-inactive {
    @apply h3 text-18 lg:text-20 xl:text-26 leading-8 lg:leading-10 text-gray3;
  }


  .h3-s {
    @apply font-extrabold text-12 lg:text-27  leading-6 lg:leading-10 text-white1;
  }

  .h2 {
    @apply font-extrabold text-64 leading-16 text-black2;
  }

  .h1 {
    @apply font-extrabold text-80 leading-20 text-black2;
  }

  .hero {
    @apply font-extrabold text-40 lg:text-64 leading-12 lg:leading-16 text-white1;
  }

  .opacity-hover {
    @apply hover:opacity-70 duration-300 ease-in-out;
  }


  
}

.animated-gradient {
  background: linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  background-size: 400% 400%;
  animation: gradientAnimation 2s ease infinite;
  border-radius: 10px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 1024px) {
  .gradient-bottom-border {
    background: linear-gradient(
      270deg,
      #00daba 8%,
      #4aa1a3 23%,
      #8a7191 36%,
      #b15485 46%,
      #c14981 51%,
      #a73993 62%,
      #8726aa 78%,
      #741bb7 91%,
      #6d17bd 100%
    );
    border-radius: 10px;
    position: relative;
  }

  .gradient-bottom-border::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 1px;
    background: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 0;
  }
  .gradient-bottom-border .content {
    padding: 19.5px 20px 20.5px 20px;
    background: linear-gradient(
      129.93deg,
      rgba(175, 175, 175, 0.12) 16.6%,
      rgba(17, 243, 179, 0.12) 90.65%
    );
    border-radius: 10px;
    position: relative;
    z-index: 1;
  }
  .gradient-bottom-border-hover:hover {
    border-bottom: 1px solid;
    background: radial-gradient(
      120.62% 683.52% at 110.84% 156.15%,
      #c5fffd 6.84%,
      rgba(111, 255, 194, 0.760784) 48.36%,
      #00daba 100%
    );
    border-radius: 10px;
    position: relative;
  }
  .gradient-bottom-border-hover:hover::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 1px;
    background: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 0;
  }

  .gradient-bottom-border-hover:hover .content-hover {
    position: relative;
    z-index: 1;
  }
  .gradient-bottom-border-hover:hover .content-hover:hover {
    background: linear-gradient(
      314.92deg,
      rgba(12, 34, 49, 0.4) 2.58%,
      rgba(17, 39, 49, 0.4) 47.47%,
      rgba(12, 22, 31, 0.4) 97.04%
    );
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    position: relative;
    z-index: 1;
  }
}

.gradient-bg-1 {
  background: linear-gradient(
    129.93deg,
    rgba(175, 175, 175, 0.12) 16.6%,
    rgba(17, 243, 179, 0.12) 90.65%
  );
}
.gradient-bg-dark {
  background: linear-gradient(
    314.92deg,
    rgba(17, 39, 49, 0.4) 28.08%,
    rgba(9, 9, 9, 0.4) 97.04%
  );
}

.gradient-bg-2 {
  background: linear-gradient(
    314.92deg,
    rgba(12, 34, 49, 0.4) 2.58%,
    rgba(17, 39, 49, 0.4) 47.47%,
    rgba(12, 22, 31, 0.4) 97.04%
  );
}

.border-gradient-1 {
  border-image-slice: 1;
  border-image-source: linear-gradient(
    270deg,
    #00daba 8%,
    #4aa1a3 23%,
    #8a7191 36%,
    #b15485 46%,
    #c14981 51%,
    #a73993 62%,
    #8726aa 78%,
    #741bb7 91%,
    #6d17bd 100%
  );
}

.border-gradient-2 {
  border-image-slice: 1;
  border-image-source: linear-gradient(
    270deg,
    #00daba 8%,
    #4aa1a3 23%,
    #8a7191 36%,
    #b15485 46%,
    #c14981 51%,
    #a73993 62%,
    #8726aa 78%,
    #741bb7 91%,
    #6d17bd 100%
  );
}

:where(.css-dev-only-do-not-override-1wwf28x).ant-input-affix-wrapper
  .ant-input-prefix {
  margin-right: 0.5rem;
  color: #F1F4F4 !important;

  @media (min-width: 1024px) {
    margin-right: 1rem;
  }
}